voila
# geemap
git+git://github.com/giswqs/geemap.git
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=1.17.1 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
